*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}
html,body{
    width:100%; height: 100%;
    display: grid;
    height: 100%;
    place-items: center;
    background: rgb(24, 24, 24);
    overflow: hidden;
}
img
{
 display: block;
 margin-top: 100px;
}
button {
    position: relative;
    height: 55px;
    width: 200px;
    margin: 0 10px;
    margin-bottom: 190px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(41, 41, 41);
    color: #fff;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
button:first-child:hover{
    background: linear-gradient(90deg, #531ee6, #8914a0, #001aff, #0b8b07, #531ee6);
    background-size: 400%;
}
button:nth-child(2):hover{
    background: linear-gradient(90deg, #531ee6, #8914a0, #001aff, #0b8b07, #531ee6);
    background-size: 400%;
}
button:last-child:hover{
    background: linear-gradient(90deg, #531ee6, #8914a0, #001aff, #0b8b07, #531ee6);
    background-size: 400%;
}

button:first-child:before,
button:nth-child(2):before,
button:last-child:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 25px;
    filter: blur(15px);
    opacity: 0;
    transition: opacity 0.5s;
}
button:first-child:hover:before,
button:nth-child(2):hover:before,
button:last-child:hover:before {
    opacity: 1;
    z-index: -1;
}
button:hover{
    z-index: 1;
    animation: glow 10s linear  infinite;
}
@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
    background-position: 400%;
    }
}