*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}
html,body{
    width:100%; height: 100%;
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(-45deg, #aa00b9, #531ee6, #001aff, #aa00b9);
    background-size: 400%, 400%;
    overflow: hidden;
    animation: move 20s alternate infinite;
}
header
{
 text-transform: uppercase;
 font-size: 90px;
 margin-left: 14%;
 margin-bottom: 2%;
 color: rgb(41, 41, 41);
 filter: drop-shadow(2px 2px 2px #202020);
}


  @-webkit-keyframes buttoncolorchange {
    0% {
      color: #001aff;
    }
    50% {
      color: #531ee6;
    }
    100% {
      color: #8914a0;
    }
  }

button {
    position: relative;
    height: 55px;
    width: 200px;
    margin: 0 10px;
    margin-bottom: 40%;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(41, 41, 41);
    color: #fff;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #202020);
    -webkit-animation: buttoncolorchange 7s infinite alternate;
}
button:nth-child(3):hover{
    background: linear-gradient(90deg, #531ee6, #8914a0, #001aff, #531ee6);
    background-size: 400%;
}
button:nth-child(2):hover{
    background: linear-gradient(90deg, #531ee6, #8914a0, #001aff, #531ee6);
    background-size: 400%;
}
button:last-child:hover{
    background: linear-gradient(90deg, #531ee6, #8914a0, #001aff, #531ee6);
    background-size: 400%;
}

button:nth-child(2):before,
button:nth-child(3):before,
button:last-child:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 25px;
    filter: blur(15px);
    opacity: 0;
    transition: opacity 0.5s;
}
button:nth-child(2):hover:before,
button:nth-child(3):hover:before,
button:last-child:hover:before {
    opacity: 1;
    z-index: -1;
}
button:hover{
    z-index: 1;
    animation: glow 10s linear  infinite;
}
@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
    background-position: 400%;
    }
}

@keyframes move {
    0%{
        background-position:  0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}